.header {
  background: url("../../images/header-bg.jpg") no-repeat 50% 50%;
  height: 900px;
  background-size: cover;

  .container {
    width: 1280px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;

    &Left {
      nav {
        display: flex;
        justify-content: flex-end;

        a {
          border: 1px solid white;
          margin-left: 11px;
          width: 16px;
          height: 16px;
          transform: rotate(45deg);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;

          img {
            width: 80%;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &Right {
      a {
        color: white;
        text-decoration: none;
        font-family: "Lato-Regular";
        font-weight: normal;
        font-size: 12px;
        margin-left: 50px;
        text-transform: uppercase;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 390px;
    text-align: center;

    h1 {
      font-family: "Lato-Regular";
      color: white;
      font-size: 60px;
      text-transform: uppercase;
      margin-bottom: 0px;
    }

    p {
      font-family: "Lato-Light";
      text-align: center;
      font-weight: normal;
      color: white;
      font-size: 40px;
      margin-top: 0px;
      text-transform: uppercase;
    }
  }

  .mouse {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 350px;

    a {
      font-family: "Lato-Light";
      text-align: center;
      font-weight: normal;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      h5 {
        margin-top: 10px;
        margin-bottom: 30px;
      }

    }
  }
}
